// == colors == //
$red: #C80019;
$black: #161616;
$white: #ffffff;
$ocean: #26989b;

//== font weights ==//
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// == breakpoints ==//
$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
